body {
  background-color: lightgray;
}
* {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  max-width: 1280px;
  background-color: white;
  margin: 0;
  padding: 70px 50px 0 50px;
}
p {
  font-size: 50px;
  margin-block-start: auto;
  margin-block-end: 1.5em;
  @media (max-width: 502px) {
    text-align: center;
  }
}

.header-nav {
  border-bottom: 2px dashed black;
  text-align: right;
  height: 30px;

  @media (max-width: 502px) {
    flex-direction: column;
    text-align: center;
    border-bottom: 0;
    height: auto;
  }
}
.header-nav-link {
  display: inline-block;
  font-size: 28px;
  line-height: 28px;
  height: 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin: 0 5px;

  &:hover {
    border-bottom: 2px solid black;
    font-weight: bold;
  }
}

h1 {
  border-bottom: 4px solid black;
  text-transform: uppercase;
  font-size: 76px;
  line-height: 60px;
  text-shadow: 3px 4px 5px rgb(146, 145, 145);

  @media (max-width: 820px) {
    font-size: 60px;
    line-height: 48px;
  }
}
.intro-row {
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 40px;

  @media (max-width: 820px) {
    flex-direction: column;
  }
}
.intro-column {
  width: 350px;
  margin-right: 20px;
}
.intro-column:nth-of-type(2) {
  width: 100%;
  box-sizing: border-box;
  margin-right: 0;
}
.photo {
  width: 350px;
  height: 400px;

  @media (max-width: 820px) {
    padding-bottom: 20px;
  }
}
.about-me-sect {
  background-color: black;
  color: white;
  font-size: 28px;
  font-weight: 700;
  padding: 10px;
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;

  &::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-left: 30px solid black;
    border-bottom: 50px solid transparent;
    right: -30px;
    top: 0;
  }
}
.text {
  font-size: 22px;
  padding: 20px 0;
}
.quote {
  background-color: lightgray;
  font-size: 18px;
  padding: 30px 20px;
  font-style: italic;
}
.author {
  font-size: 18px;
  margin: 0;
  padding-top: 20px;
  text-align: right;
  font-style: normal;
}
span {
  font-weight: 700;
}
.container-skills {
  max-width: 500px;
}
.section-skills {
  border-bottom: 2px solid black;
  padding: 40px 0;
  font-size: 0;
  display: flex;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}
.section-skills-column {
  width: 50%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.elem {
  width: 20%;
  height: 20px;
  display: inline-block;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
}
.numbers {
  width: 20%;
  height: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: right;
}
.list {
  font-size: 18px;
  list-style-type: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: -40px;
    top: 5px;
    background-color: black;
  }
}
.skills {
  font-size: 22px;
  background-color: lightgray;
  font-style: italic;
  padding: 5px 15px;
  margin: 10px 0;
  box-sizing: border-box;
}
.nom1 {
  width: 80%;
}
.nom2 {
  width: 60%;
}
.section-logo {
  display: flex;
}
.logo {
  width: 200px;
  height: 200px;
  float: right;
}
.logo-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 20px 50px;
  background-color: lightgrey;
}
.section-logo-text {
  font-size: 18px;
  margin-block-start: 20px;
}
.footer {
  background-color: black;
  max-width: 1280px;
  margin: 0;
  padding: 70px 50px;
}
.footer-wrap {
  display: flex;
}
.footer-wrap {
  width: 25%;
}
.footer-wrap:nth-of-type(2) {
  width: 25%;
}
.footer-wrap:nth-of-type(3) {
  width: 50%;
}
.footer-wrap-contacts,
.footer-wrap-social {
  padding: 0 100px 0 0;
}
h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  margin: 0;
  width: 220px;
}
.footer-wrap-text {
  font-size: 20px;
  color: white;
}
.social {
  display: block;
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 20px solid white;
  box-sizing: border-box;
  padding: 30px;
}
.circle2 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
  box-sizing: border-box;
}
.text-circle {
  font-size: 26px;
  text-align: center;
  padding: 60px 0 0 60px;
  width: 40px;
}
.text-end {
  color: white;
}
